bsl-py==0.11.0
asn1crypto==0.24.0
astor==0.8.1
atari-py==0.2.6
cached-property==1.5.2
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
cmake==3.13.2.post1
conda==4.5.11
cryptography==2.3.1
dill==0.3.3
gast==0.4.0
grpcio==1.35.0
gym==0.12.5
h5py==3.1.0
idna==2.7
imageio==2.9.0
importlib-metadata==3.4.0
joblib==1.0.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.3
mock==4.0.3
mpi4py==3.0.0
numpy==1.20.1
opencv-python==3.4.4.19
Pillow==8.1.0
progressbar2==3.53.1
protobuf==3.15.1
psutil==5.8.0
pycosat==0.6.3
pycparser==2.18
pyglet==1.5.15
pyOpenSSL==18.0.0
PySocks==1.6.8
python-utils==2.5.6
requests==2.19.1
ruamel-yaml==0.15.46
scipy==1.6.1
simplejson==3.17.2
six==1.11.0
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
tqdm==4.57.0
typing-extensions==3.7.4.3
urllib3==1.23
Werkzeug==1.0.1
zipp==3.4.0
